<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Single Resource API</title>
</head>
<body data-ng-app="SongsApp">
  <main data-ng-controller="SongsController" data-ng-init="getAll()">
  <ul id="songlist">
      <li data-ng-repeat="song in songs">
        {{song.title}}
      </li>
  </ul>
  <form name="newSongForm" data-ng-submit="create(newSong)">
    <label for="newSongTitle"> Title:
      <input type="text" id="newSongTitle" data-ng-model="newSong.title">
    </label>
    <button type="submit">Create New Song</button>
  </form>
</main>
<script src="/bundle.js"></script>
</body>
</html>